<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DataBaseConnection" connectionString="Data Source=PLACEHOLDER;Initial Catalog=PLACEHOLDER;Integrated Security=SSPI;Persist Security Info=False;" />
		<add name="BotConfig" connectionString="{'ApiKey':'PLACEHOLDER','NomeBot':'PLACEHOLDER'}" />
	</connectionStrings>
</configuration>